@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.links-font {
  font-family: var(--font-space-mono), sans-serif;
}

/* Custom Scrollbar - Vertical scroll */
.custom-scrollbar::-webkit-scrollbar {
  width: 17px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  margin-top: 10px;
  background: linear-gradient(
    to bottom,
    rgb(255, 193, 255),
    rgb(255, 236, 201)
  );
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(236, 167, 255);
  border-radius: 10px;
  margin: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 247, 159);
}

/* scrollbar for smaller screens */
@media (max-width: 640px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 9px;
  }
}

/* Custom Scrollbar - Horizontal scroll */
.custom-x-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-x-scrollbar::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom,
    rgb(255, 193, 255),
    rgb(255, 236, 201)
  );
  border-radius: 10px;
}

.custom-x-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(236, 167, 255);
  border-radius: 10px;
  margin: 5px;
}

.custom-x-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 247, 159);
}

/* Hide scrollbar */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
